.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 0;
  border-left: none;
  padding: 6px 20px;
  background-color: #303030;
  border: 1px solid #303030;
  color: #707070;
  font-size: 14px;
}

.dropdown:hover {
  cursor: pointer;
  color: #ccc;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: -1px;
  top: 28px;
  border: 1px solid #303030;
  font-size: 14px;
  line-height: 16px;
  background-color: #000;
  box-sizing: border-box;
  width: 253px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 6px;
  z-index: 1;
}

.dropdown-content .item {
  padding: 6px;
  margin: 0;
  background-color: 000;
}

.dropdown-content .item:hover {
  cursor: pointer;
  background-color: #303030;
  color: #ccc;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.selection {
  display: inline-block;
  margin: 15px;
  padding: 6px;
  box-sizing: border-box;
  border: 1px solid #303030;
  font-size: 14px;
  line-height: 16px;
  margin-right: 0;
  outline-style: none;
  background-color: #000;
  color: #707070;
  width: 200px;
}
