article {
    display: flex;
    padding: 5px;
    background-color: white;
}

article:hover {
    background-color: #e7e7e7;
    cursor: pointer;
}

article img {
    width: 120px;
    height: 90px;
    object-fit: contain;
}

article div {
    margin: 5px;
    padding: 0;
}

article h3 {
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    margin: 0;
    margin-bottom: 10px;
}

article p {
    font-weight: 300;
    font-size: 13px;
    text-align: left;
    margin: 0;
}

article .channel {
    color: grey;
    font-size: 12px;
    display: block;
}

article .published {
    color: grey;
    font-size: 12px;
    margin-top: 2px;
}

article .views {
    color: grey;
    font-size: 12px;
    margin-top: 2px;

}