

header {
    /* fixed position a zero-height full width container */
	  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: aqua;
}

header > div {
  background-color: #232323;
  margin: 0 auto;
  display: flex;
}
.logo {
  margin: 15px;
  height: 30px;
}

main {
  margin: 370px auto 0 auto;
  max-width: 560px;
}

