

header {
    /* fixed position a zero-height full width container */
	  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: aqua;
}

header > div {
  background-color: white;
  margin: 0 auto;
  max-width: 560px;
}
.logo {
  width: 200px;
	display: inline-block;
  margin-top: 5px;
}

main {
  margin: 370px auto 0 auto;
  max-width: 560px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
